<section class="categories">
    <h2 class="categories__title">Power Up with the Best in Tech</h2>
    <div class="categories__list">
      <div class="categories__item">
        <img src="img/categories/headphones.jpg" alt="Headphones" class="categories__image" />
        <h3 class="categories__name">Headphones</h3>
      </div>
      <div class="categories__item">
        <img src="img/categories/keyboards.jpg" alt="Keyboards" class="categories__image" />
        <h3 class="categories__name">Keyboards</h3>
      </div>
      <div class="categories__item">
        <img src="img/categories/mice.jpg" alt="Mice" class="categories__image" />
        <h3 class="categories__name">Mice</h3>
      </div>
    </div>
  </section>
  