<section class="blog">
    <h2 class="blog__title">Read About the Latest Gadgets</h2>
    <div class="blog__list">
      <article class="blog__item">
        <img src="img/blog/blog-1.jpg" alt="Top 10 Gadgets of the Year" class="blog__image" />
        <h3 class="blog__name">Top 10 Gadgets of the Year</h3>
        <p class="blog__excerpt">Discover the most innovative and useful gadgets of the year.</p>
        <a href="blog-details.html" class="blog__cta">Read More</a>
      </article>
      <article class="blog__item">
        <img src="img/blog/blog-2.jpg" alt="How to Set Up Your Workspace" class="blog__image" />
        <h3 class="blog__name">How to Set Up Your Workspace</h3>
        <p class="blog__excerpt">Learn tips and tricks to optimize your workspace for productivity.</p>
        <a href="blog-details.html" class="blog__cta">Read More</a>
      </article>
      <article class="blog__item">
        <img src="img/blog/blog-3.jpg" alt="Best Accessories for Designers" class="blog__image" />
        <h3 class="blog__name">Best Accessories for Designers</h3>
        <p class="blog__excerpt">Check out the must-have tools and accessories for designers.</p>
        <a href="blog-details.html" class="blog__cta">Read More</a>
      </article>
    </div>
  </section>
  